<!DOCTYPE html>
<html>
  <head>
    <title>azena</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if current_user %>
      <script type="text/javascript">
        window.currentUserPayload =
        <%= render("api/users/all_info.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>
        <%# window.workspaces = %>
        <%#= render("api/workspaces/workspaces.json.jbuilder", workspaces: current_user.workspaces).html_safe %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag asset_path('azena-favicon-blue.png') %>

    <script type="text/javascript">
      window.logoMainURL = "<%= image_url('azena-logo-blue-black-zen.png') %>";
      window.logoIconURL = "<%= image_url('azena-logo-blue-black-zen-icon.svg') %>";
      window.logoTextURL = "<%= image_url('azena-logo-blue-black-zen-text.svg') %>";
      window.logoIcon1 = "<%= image_url('azena-icon-teal-centered.svg') %>";
      window.logoIcon2 = "<%= image_url('azena-icon-white.svg') %>";
      window.angleDown = "<%= image_url('angle-down.svg') %>";
      window.chevronLeft = "<%= image_url('chevron-left.svg') %>";
      window.chevronRight = "<%= image_url('chevron-right.svg') %>";
      window.chevronCircleLeft = "<%= image_url('chevron-circle-left.svg') %>";
      window.chevronCircleRight = "<%= image_url('chevron-circle-right.svg') %>";
      window.splashImageGS = "<%= image_url('unsplash-splash-2-gs.jpg') %>";
      window.splashImage = "<%= image_url('unsplash-splash-2.jpg') %>";
      window.github = "<%= image_url('github-square.svg') %>";
      window.linkedin = "<%= image_url('linkedin.svg') %>";
      window.homeIcon = "<%= image_url('house-user.svg') %>";
      window.checkCircle = "<%= image_url('check-circle.svg') %>";
      window.plus = "<%= image_url('plus.svg') %>";
    </script>

  </head>

  <body>
    <%#= image_tag ("azena-logo-blue-black.png") %>
    <%= yield %>
  </body>

</html>
